@value medium, large from '../../index.css';

.mobileGrid {
  display: grid;
  grid-template-columns: repeat(10, minmax(30px, 40px));
}

.desktopGrid {
  display: grid;
  grid-template-columns: repeat(16, minmax(30px, 40px));
}

.wrapper {
  gap: 5px;

  /* removing default behaviour on touch devices */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  .wrapper {
  }
}
