@value medium, large from '../../index.css';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px auto 8px;
  padding: 0 16px;
  max-width: 420px;

  font-size: 24px;
  color: var(--white);
}

.counter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.catmoji {
  background-color: transparent;
  font-size: 32px;
}

@media (medium) {
  .wrapper {
    margin: 32px auto 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    color: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  .wrapper {
    color: var(--black);
  }
}
