@value medium, large from '../../index.css';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px auto 8px;
  padding: 0 16px;
  max-width: 420px;

  font-size: 24px;
  color: var(--white);
}

.counter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.catmoji {
  --border-styles: 2px solid;

  background-color: transparent;
  font-size: 32px;
  padding: 4px 8px;

  border-top: var(--border-styles) var(--dark-theme-200);
  border-left: var(--border-styles) var(--dark-theme-200);
  border-right: var(--border-styles) var(--black);
  border-bottom: var(--border-styles) var(--black);
}

@media (medium) {
  .wrapper {
    margin: 32px auto 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    color: var(--white);
  }

  .catmoji {
    --border-styles: 2px solid;

    border-top: var(--border-styles) var(--dark-theme-200);
    border-left: var(--border-styles) var(--dark-theme-200);
    border-right: var(--border-styles) var(--black);
    border-bottom: var(--border-styles) var(--black);
  }
}

@media (prefers-color-scheme: light) {
  .wrapper {
    color: var(--black);
  }

  .catmoji {
    --border-styles: 2px solid;

    border-top: var(--border-styles) var(--light-theme-200);
    border-left: var(--border-styles) var(--light-theme-200);
    border-right: var(--border-styles) var(--dark-theme-200);
    border-bottom: var(--border-styles) var(--dark-theme-200);
  }
}
