@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&family=Manrope:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Monda', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --dark-theme-600: #2c2d2c;
  --dark-theme-500: #303130;
  --dark-theme-300: #5d5d5d;
  --dark-theme-200: #818181;

  --light-theme-300: #d0d0d0;
  --light-theme-200: #e1e1e1;
  --light-theme-100: #fff;

  --black: #000;
  --white: #fff;
  --blue: #476098;
  --red: #ca4246;
  --orange: #e16541;
  --yellow: #f18f43;
  --green: #8b9862;
  --purple: #a7489b;
}

@value medium: min-width: 680px;
@value large: min-width: 1024px;
@value xLarge: min-width: 1200px;
